.raytracer-page {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.raytracer-page .post-single {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.raytracer-page #app {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.raytracer-container {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  position: relative;
  height: 600px;
}

.editor-container {
  height: 100%;
  padding: 0;
}

.editor-container > div {
  height: 100%;
}

.editor-container .cm-editor {
  height: 100%;
}

.cm-content {
  font-family: 'Reddit Mono', monospace; /* Replace 'Fira Code' with your preferred font */
  font-size: 14px; /* Adjust font size */
}

.canvas-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#canvas {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1/1;
  display: block;
  image-rendering: pixelated;
}
