---
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';
import type { ImageMetadata } from 'astro';

interface Props {
  posts: CollectionEntry<"posts">[]
}

const sortedPosts = Astro.props.posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

// Get reading time for each post by rendering them
const postsWithReadingTime = await Promise.all(
  sortedPosts.map(async (post) => {
    const { remarkPluginFrontmatter } = await post.render();
    return {
      ...post,
      data: {
        ...post.data,
        minutesRead: remarkPluginFrontmatter.minutesRead || 0
      }
    };
  })
);
---

<div class="py-4">
  {postsWithReadingTime.map((post, index) => (
    <PostCard post={post.data} url={`/posts/${post.slug}`} isFirst3={index < 3} />
  ))}
</div> 