---
import '@/styles/prose.css';
---

<div
  class="prose prose-sm md:prose-base lg:prose-lg dark:prose-invert max-w-none
  prose-img:rounded-lg prose-img:my-3 md:prose-img:my-4 prose-img:shadow-lg
  prose-a:underline-offset-2
  prose-table:text-sm md:prose-table:text-base
  prose-ul:my-2 prose-ol:my-2 prose-li:my-0">
  <slot />
</div>