<!-- prelink google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
    rel="preload"
    as="style" />
<link
    href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
    rel="stylesheet" />
{{- $options := dict "targetPath" "js/bundle.js" -}} {{- $jsBundle :=
resources.Get "js/index.js" | js.Build $options -}} {{- $jsBundle = $jsBundle |
resources.Minify -}}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $jsBundle = $jsBundle | fingerprint -}}
{{- end }}
<script src="{{ $jsBundle.Permalink }}"></script>